<div class="jumbotron">
  <div class="container">	
    <h1>Taco Manager</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum leo ut sollicitudin ullamcorper. Nullam consequat sagittis eros, sed consequat neque blandit a. Nam dignissim lacus sed mollis lacinia. Praesent ullamcorper neque quis aliquet varius. Suspendisse at felis eget justo pretium sodales nec consectetur leo. Donec dictum consectetur diam. Curabitur facilisis urna lectus, in cursus neque scelerisque ac. Aliquam rutrum sem ac dolor cursus, id faucibus sem volutpat. </p>
    <p><a class="btn btn-primary btn-lg" role="button"><%= t(:order_now) %></a></p>
  </div>  
</div>

<div class="random-food-places">
  <% @random_food_places.each do |random_food_place| %>
    <div class="col-sm-2 col-md-4">
      <div class="thumbnail"> 
        <%= image_tag random_food_place.photo.processed, {class: 'img-rounded'} %>
          <div class="caption">
            <h4><%= random_food_place.name %></h4>
              <p>...</p>
              <p> <%= link_to t(:view), food_place_path(random_food_place), {class: 'btn btn-primary', role: 'button'} %> </p>
          </div>
      </div>
    </div> 
  <% end %>
</div>
 