<div class="nested-fields form-group" >
  <div class="field col-sm-10"> 
    <div id='menu_option' class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'> <%= t(:menu_line_item) %> </h3>
      </div>
      <div class='panel-body'>
        <%= f.select :menu_option_id, @menu_options.map {|option| [option.name, option.id]}, class: 'form-control' %>   
        <%= f.number_field :quantiy, placeholder: t(:quantity), class: 'form-control' %>
        <%= link_to_remove_association f , {:class => 'btn btn-link"'} do %>
         <span class="glyphicon glyphicon-remove"></span>
        <% end %> 
      </div>
    </div>  
  </div>
</div>