<h1><%= @menu_option.name %><h1>

<div id='general' class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'> <%= t(:general_information) %> </h3>
  </div>
  <div class='panel-body'>
    <%= @menu_option.name %>
    <%= @menu_option.price %>
  </div>
</div>
