@import 'bootstrap';
#food_places_list {
  .reubic-left {
  	display: block;
    margin-top: 10px;
    
  }
	
  .col-md-2:nth-child(3n + 1) {
	  @extend .col-md-offset-1;
   }
}


.pagination {
  display: block;
  margin: auto;
  text-align: center;
 	
}

.page-header {
  overflow: hidden;

  a {
  	display: block;
  	float: right;
    margin-top: 25px;
    }

  h1 {
  	float: left;
  }
}

.reubic {
  margin-top: 9px;
}

.random-food-places {
  margin-right: 2px;
}

img{
  display:block;
  margin:auto;
}
.reubic-right{
  margin-right: 330px;
}



.without-margin {
  margin:0;
  padding:0; 
}

.without-margin-top {
  margin-top:0px;
}

.filestyle {
  margin: auto;
}

.col-sm-10 {
  float: none;
  margin: 0 auto;
}

.col-sm-6{
  float: none;
  margin: 0 auto;
}

.col-md-7 {
  display: block;
  float: none;
  margin: 0 auto;
}

.col-sm-4 {
  
 display: block;
  float: none;
  margin: 0 auto;
}

.thumbnail{
  background-color: #F5F5F5;;
}


.highlight {
    border-color: gray;
    font-weight: bold;
     
}

.carousel-control.left, .carousel-control.right {
    background-image: none

}

.carousel-inner{
  a { text-decoration: none; }
  a:hover { color: #adff2f; }
}

.a-no-decoration{
  a { text-decoration: none; }
  .a-no-decoration:hover { color: #adff2f;text-decoration: none; }
}
.carousel-indicators .active {
    background-color: black;
    border: 1px solid black;
}
.carousel-indicators li {

  border:  1px solid black;
    }

.close {
  float:right;
}
 
input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}
