@import 'bootstrap';
#food_places_list {
  a {
  	display: block;
    margin-top: 10px;
    
  }
	
  .col-md-2:nth-child(5n + 1) {
	@extend .col-md-offset-1;
   }
}



.pagination {
  display: block;
  text-align: center; 	
}

.food_places_list_header {
  overflow: hidden;

  a {
  	display: block;
  	float: right;
    margin-top: 38px;
  }

  h1 {
  	float: left;
  }
}

